//// START COLOR VARIABLES - we don't need to post this, this was just for me to reference easier ////
/* :root {
	--background: #ffffff;
	--foreground: #171717;

	--error-color: rgba(239, 83, 80, 1);
	--warning-color: rgba(255, 160, 0, 1);

	--btn-orange: rgba(255, 196, 97, 1);
	--btn-pink: rgba(245, 148, 147, 1);
	--btn-lightGreen: rgba(125, 223, 167, 1);

	--white-100: rgba(255, 255, 255, 1);
	--white-90: rgba(255, 255, 255, 0.9);
	--white-80: rgba(255, 255, 255, 0.8);
	--white-60: rgba(255, 255, 255, 0.6);
	--white-50: rgba(255, 255, 255, 0.5);
	--white-25: rgba(255, 255, 255, 0.25);

	--Green--100: rgba(173, 241, 81, 1);
	--Green--80: rgba(173, 241, 81, 0.8);
	--Green--60: rgba(173, 241, 81, 0.6);

	--GreenSecondary-100: rgba(46, 204, 113, 1);
	--GreenSecondary-80: rgba(46, 204, 113, 0.8);
	--GreenSecondary-60: rgba(46, 204, 113, 0.6);

	--border-50: rgba(255, 255, 255, 0.5);
	--border-10: rgba(255, 255, 255, 0.1);
	--border-09: rgba(255, 255, 255, 0.09);

	--Success-Success-500: #2ecc71;
	--Neutral-Neutral: #020202;
} */
//// END COLOR VARIABLES - we don't need to post this, this was just for me to reference easier ////

//// START HEADER BUTTON STYLES ////
.css-1ugghjh {
    color: rgba(173, 241, 81, 1) !important;
}

.css-1ugghjh:hover {
    color: rgba(173, 241, 81, 0.8) !important;
}

.css-1o2zlxj {
    color: rgba(173, 241, 81, 1) !important;
}

.css-1o2zlxj:hover {
    color: rgba(173, 241, 81, 0.8) !important;
}

.css-1fs0hew {
    color: rgba(173, 241, 81, 1) !important;
}

.css-1fs0hew:hover {
    color: rgba(173, 241, 81, 0.8) !important;
}

.css-1ruwwu7 {
    color: rgba(173, 241, 81, 1) !important;
}

.css-1ruwwu7:hover {
    color: rgba(173, 241, 81, 0.8) !important;
}
//// END HEADER BUTTON STYLES ////

//// START SIDEBAR BUTTON STYLES ////
.css-1y2do5:hover {
    background-color: rgba(173, 241, 81, 1) !important;
}
//// END SIDEBAR BUTTON STYLES ////

//// START MAIN BUTTON STYLES ////
.css-1cl5utq {
    background: radial-gradient(103.03% 103.03% at 0% 0%, rgba(173, 241, 81, 0.8) 0%, rgba(46, 204, 113, 0.8) 100%), rgba(173, 241, 81, 1) !important;
    --bg-currentcolor: radial-gradient(103.03% 103.03% at 0% 0%, rgba(173, 241, 81, 0.8) 0%, rgba(46, 204, 113, 0.8) 100%), rgba(173, 241, 81, 1) !important;
}

.dark .css-larru8, .dark .chakra-theme:not(.light) .css-larru8 {
    color: #171717 !important;
}

.css-efxvh4:is([aria-selected="true"], [data-selected]) {
    background: #171717 !important;
    --bg-currentcolor: #171717 !important;
    color: #171717 !important;
}

@media (hover: hover) {
    .css-efxvh4:is([aria-selected="true"], [data-
    selected]):is(:hover, [data-hover]):not(:disabled, [data-
    disabled]) {
        background: #171717 !important;
        --bg-currentcolor: #171717 !important;
        color: rgba(173, 241, 81, 1) !important; 
    }
}

.css-50xchn {
    color: rgba(173, 241, 81, 1) !important;
}

.css-1wmlgtj {
    color: rgba(173, 241, 81, 1) !important;
}

.css-1cdop6v:is(:hover, [data-hover]):not(:disabled, [data-
disabled]) {
    color: rgba(173, 241, 81, 1) !important;
}

.css-1tglra9 {
    color: rgba(173, 241, 81, 1) !important;
}

.css-1ach3l0 {
    color: rgba(173, 241, 81, 1) !important;
}
//// END MAIN BUTTON STYLES ////

//// START FOOTER STYLES ////
.css-130geuw {
    border-color: rgba(173, 241, 81, 1) !important;
    color: rgba(173, 241, 81, 1) !important;
}

.css-u17nx {
    color: rgba(173, 241, 81, 1) !important;
}
//// END FOOTER STYLES ////