//// START COLOR VARIABLES ////
:root {
	--background: #ffffff;
	--foreground: #171717;

	--error-color: rgba(239, 83, 80, 1);
	--warning-color: rgba(255, 160, 0, 1);

	--btn-orange: rgba(255, 196, 97, 1);
	--btn-pink: rgba(245, 148, 147, 1);
	--btn-lightGreen: rgba(125, 223, 167, 1);

	--white-100: rgba(255, 255, 255, 1);
	--white-90: rgba(255, 255, 255, 0.9);
	--white-80: rgba(255, 255, 255, 0.8);
	--white-60: rgba(255, 255, 255, 0.6);
	--white-50: rgba(255, 255, 255, 0.5);
	--white-25: rgba(255, 255, 255, 0.25);

	--Green--100: rgba(173, 241, 81, 1);
	--Green--80: rgba(173, 241, 81, 0.8);
	--Green--60: rgba(173, 241, 81, 0.6);

	--GreenSecondary-100: rgba(46, 204, 113, 1);
	--GreenSecondary-80: rgba(46, 204, 113, 0.8);
	--GreenSecondary-60: rgba(46, 204, 113, 0.6);

	--border-50: rgba(255, 255, 255, 0.5);
	--border-10: rgba(255, 255, 255, 0.1);
	--border-09: rgba(255, 255, 255, 0.09);

	--Success-Success-500: #2ecc71;
	--Neutral-Neutral: #020202;
}
//// END COLOR VARIABLES ////

//// START HEADER BUTTON STYLES ////
.css-1ugghjh {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    outline: none;
    gap: 0px;
    cursor: pointer;
    color: rgba(173, 241, 81, 1);
    border-radius: var(--chakra-radii-l1);
    --focus-ring-color: var(--chakra-colors-color-palette-focus-ring);
}

.css-1ugghjh:hover {
    color: rgba(173, 241, 81, 0.8);
}

.css-1o2zlxj {
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    color: rgba(173, 241, 81, 1);
    padding: 0px;
    min-width: auto;
    flex-shrink: 0;
    width: var(--chakra-sizes-5);
    height: var(--chakra-sizes-5);
    border-radius: var(--chakra-radii-sm);
}

.css-1o2zlxj:hover {
    color: rgba(173, 241, 81, 0.8);
}

.css-1fs0hew {
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    padding: var(--chakra-spacing-0\.5);
    min-width: auto;
    color: rgba(173, 241, 81, 1);
    flex-shrink: 0;
    width: var(--chakra-sizes-5);
    height: var(--chakra-sizes-5);
    border-radius: var(--chakra-radii-sm);
}

.css-1fs0hew:hover {
    color: rgba(173, 241, 81, 0.8);
}
//// END HEADER BUTTON STYLES ////

//// START SIDEBAR BUTTON STYLES ////
.css-1y2do5:hover {
    background-color: rgba(173, 241, 81, 1);
}
//// END SIDEBAR BUTTON STYLES ////

//// START MAIN BUTTON STYLES ////
.dark .css-1cl5utq, .dark .chakra-theme:not(.light) .css-1cl5utq {
    background: radial-gradient(103.03% 103.03% at 0% 0%, rgba(183, 148, 244, 0.8) 0%, rgba(0, 163, 196, 0.8) 100%), var(--chakra-colors-blue-400);
    --bg-currentcolor: radial-gradient(103.03% 103.03% at 0% 0%, rgba(183, 148, 244, 0.8) 0%, rgba(0, 163, 196, 0.8) 100%), var(--chakra-colors-blue-400);
    border: none;
}